.splash-screen {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-size: 10vmin;
  animation-delay: 1s;
  animation: ease-in-out;
  animation-name: run;
  animation-duration: 1s;
}

.splash-screen:last-child {
  color: white;
  text-align: center;
  opacity: 0;
}

@keyframes run {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}