/* custom stylings */
:root {
    --previous-bg-color: black;
    --next-bg-color: black;
    --active-bg-color: white;
    --line-width: 2px;
    --active-circle-diam: 1.5vmin;
    --inactive-circle-diam: 1.5vmin;
  }
  
  
  /* --- breadcrumb component --- */
  ul {
    height: calc(100% - var(--inactive-circle-diam) - 50px);
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  li:only-child {
    margin: auto;
  }
  
  /* lines */
  li:first-child:after {
    content: '';
    position: absolute;
    top: 10px;
    height: calc(100px);
    width: 2px;
    z-index: -1;
  }
  /* circles */
  li {
    overflow: hidden;
    border-radius: 50%;
    list-style-type: none;
    border: 2px solid white;
  }
  
  /* active styling */
  li,
  li:not(:last-child):after {
    background: var(--previous-bg-color);
  }
  
  /* inactive styling */
  li.active:after,
  li.active ~ li,
  li.active ~ li:not(:last-child):after {
    background: var(--next-bg-color);
  }
  
  /* circle sizing */
  li.active {
    width: var(--active-circle-diam);
    height: var(--active-circle-diam);
    line-height: calc(var(--active-circle-diam) + 0.1rem);
    font-size: calc(var(--active-circle-diam) / 1.6);
    background: var(--active-bg-color);
  }
  li:not(.active) {
    width: var(--inactive-circle-diam);
    height: var(--inactive-circle-diam);
    line-height: calc(var(--inactive-circle-diam) + 0.1rem);
    font-size: calc(var(--inactive-circle-diam) / 1.6);
  }